---
import WebDock from '../components/WebDock.tsx'
import HeaderLayout from '@/layouts/HeaderLayout.astro'
import StandardLayout from '@/layouts/StandardLayout.astro'
---

<HeaderLayout>
    <h1>Jsinco.dev</h1>
</HeaderLayout>
<StandardLayout>
    <WebDock client:load />
</StandardLayout>
