---
import '../styles/global.css'
import Header from "../components/Header.astro";
import WebDock from "../components/WebDock.tsx";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="../assets/favicon.png" />
        <meta name="generator" content={Astro.generator} />
        <title>Jsinco</title>
    </head>

    <body>
        <Header />
        <WebDock client:load />
    </body>
</html>
